body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-one {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.logo-link {
  display: flex;
  align-items: center;
}

.web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
  text-transform: uppercase;
  display: inline-block;
}

nav :hover {
  color: #404bbf;
}

nav :focus {
  color: #404bbf;
}

.link-item {
  display: flex;
  gap: 40px;
  margin-right: 300px;
  align-items: center;
}

.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.tel {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 0;
}

address :hover,
address :focus {
  color: #404bbf;
}

.header {
  background-color: #2e2f42;
  padding: 188px 0;
}

.heder-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;

  max-width: 496px;
  margin: 0 auto 48px;
}

.button-one {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-box-content {
  display: flex;
  gap: 24px;
}

.section-box {
  padding: 10px;
  width: calc((100% - 72px) / 4);
  gap: 24px;
}

.section-name {
  color: #2e2f42;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.team-photo {
  background-color: #f4f4fd;
}

.images-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.section-three {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.title-section {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-img {
  display: flex;
  gap: 24px;
}

.images-team {
  display: inline-block;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.name-prof {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.title-section-portfolio {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-box {
  width: calc((100% - 48px) / 3);
  padding: 32px 16px;
}

.text {
  text-align: left;
}
.port-lio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 0;
}
.web-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: 156px;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
  margin-left: 156px;
}
