body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-one {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.hed-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
  text-transform: uppercase;
  display: inline-block;
}

nav :hover {
  color: #404bbf;
}

nav :focus {
  color: #404bbf;
}

.link-item {
  display: flex;
  gap: 40px;

  align-items: center;
}

.link {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.our-contacts {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.contacts {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address :hover,
address :focus {
  color: #404bbf;
}

.header {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heder-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;

  max-width: 496px;
  margin: 0 auto 48px;
}

.button-one {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* section 2 */

.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-box-content {
  display: flex;
  gap: 24px;
}

.section-box {
  width: calc((100% - 72px) / 4);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}

.section-name {
  color: #2e2f42;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* section3 */

.images-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-media-icons {
  width: 40px;
  height: 40px;
}

.soc-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media-link:focus,
.soc-media-link:hover {
  background-color: #404bbf;
}

.social-ikons {
  fill: #f4f4fd;
  
}

.section-three {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.title-section {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-img {
  display: flex;
  gap: 24px;
}

.name-prof {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 4 */

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-box {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 
   250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  text-align: left;
}

.portfolio-box:hover .hover-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.port-lio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin-left: 370px;
}

/* div logo+paragraf */

.logo-text {
  margin-right: 120px;
}

.logo-footer {
  color: #f4f4fd;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
}
/* container social */

.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-ikons-footer {
  fill: #f4f4fd;
}
.footer-soc-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-media-link:hover,
.footer-soc-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  display: flex;
  gap: 16px;
}
